:root {
  --page-padding: 14px;
  --accent-color: #588157;
  --bg: #dad7cd;
}

html {
  /* for mobile */
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  background: var(--bg);
  font-family: Arial, sans-serif;
}

body {
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  display: flex;
  justify-content: center;
}

.site-header a {
  color: #3a5a40;
  text-decoration: none;
  font-size: 10rem;
}

.index-title {
  text-decoration: none;
  color: var(--accent-color);
}

/* rules for computer screens */
@media (min-width: 600px) {
  body {
    max-width: 50rem;
  }
}
