/* palette: https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41 */

:root {
  --page-padding: 14px;
  --small-title-color: #588157;
  --large-title-color: #3a5a40;
  --bg: #dad7cd;
}

html {
  /* for mobile */
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  background: var(--bg);
  font-family: Arial, sans-serif;
}

body {
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  display: flex;
  justify-content: center;
}

.site-header a {
  color: var(--large-title-color);
  text-decoration: none;
  font-size: 10rem;
}

.post-page {
  line-height: 2rem;
  font-size: 1.2rem;
  text-align: justify;
}

.modern-footnotes-footnote__note {
  line-height: 1rem;
}

.post-page h1 {
  color: var(--small-title-color);
}

.index-title {
  text-decoration: none;
  color: var(--small-title-color);
}

.post-page-post-title {
  font-size: 4rem;
  text-align: center;
}

/* rules for computer screens */
@media (min-width: 600px) {
  body {
    max-width: 40rem;
  }
}
