:root {
  --links-margin: 20%;
  --page-padding: 14px;
}

html {
  /* for mobile */
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  background: url("assets/bgpattern.webp");
  font-family: Arial, sans-serif;
}

body {
  margin-left: auto;
  margin-right: auto;
}

.cool-bg {
  background: linear-gradient(to top, #72c8d8, #c2c2ee, #efeaf9);
  animation: cool-bg-animation 5s ease infinite;
  background-size: 100% 400%;
}

@keyframes cool-bg-animation {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
}

.index-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-details {
  display: grid;
  grid-template: 1fr 1fr/1fr 2fr;
  padding: 15px;
  align-items: center;
}
.contact-details .phone-pic {
  grid-row: 1/3;
  justify-self: center;
}
.contact-details .detail {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  width: 100%;
  color: blue;
  font-family: monospace;
  font-size: 1rem;
}

.bio {
  padding: 15px;
  font-family: Arial, sans-serif;
  text-shadow: 4px 4px 4px #4f4f4f;
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.bio .emote {
  white-space: nowrap;
  font-size: 1rem;
}
.bio .wide {
  letter-spacing: 3px;
}

.disguise-links {
  text-decoration: none;
  color: black;
}

.index-links {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.index-links .spacer {
  flex: 0.6;
}

.pic-with-text-underneath {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.pic-page-nav {
  display: flex;
  padding-bottom: 0.5em;
}
.pic-page-nav .spacer {
  flex: 1;
  min-width: 15%;
}
.pic-page-nav .direction {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  padding-top: 10px;
}
.pic-page-nav .direction div {
  margin: 5px;
}
.pic-page-nav .direction img {
  max-width: 70%;
}

.pic-page-main-pic {
  width: 100%;
}

.gallery {
  display: grid;
  direction: rtl;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}
.gallery img {
  max-width: 100%;
}

/* rules for computer screens */
@media (min-width: 600px) {
  .pic-page {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  body {
    max-width: 50rem;
  }
  .index-page {
    margin-left: var(--links-margin);
    margin-right: var(--links-margin);
  }
  .pic-page-main-pic {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .contact-details .detail {
    font-size: 1.4rem;
  }
}
